.form {
  padding: 1rem;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.control input,
.control textarea {
  display: block;
  font: inherit;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 0.25rem;
  width: 100%;
}

.h1 {
  margin-left: 27ch;
  margin-top: -4.5vh;
}

.actions {
  margin-top: 1rem;
  text-align: left;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: #77002e;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  font-weight: bold;
}

.actions button:hover,
.actions button:active {
  background-color: #a50e48;
  border-color: black;
}

.form {
  padding: 1rem;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  display: block;
  font-weight: bold;
  margin-bottom: .5rem;
}

.control input,
.control textarea {
  display: block;
  font: inherit;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 0.25rem;
  width: 100%;
}

.actions {
  text-align: left;
  
}


.actions button {
  
  font: inherit;
  cursor: pointer;
  background-color:#0f99f5;
  color: rgb(235, 235, 235);
  border: 2px solid black;
  border-radius: 10px;
  font-weight: bolder;
  font-family: 'Franklin Gothic Medium';
  left: 5%;
  margin-top: 18vh;
  margin-right: 5px;
  position: relative;
}

.actions button:hover,
.actions button:active {
  background-color: #035c97;
  color: rgb(255, 255, 255);
  border-color: #0316a5;
}

div[name=actionDivExams]{
  border-width: 6px;
  border-style: groove;
  border-color: rgba(214, 214, 214, 0.268);
  background-color: rgb(255, 255, 255);
  margin-top: -19vh;
  margin-bottom: 4vh;
  padding: 1rem;
  position: relative;
}

form[name="searchExams"]
{
  position: relative;
  left: 55rem;
  bottom: 11.5rem;
  margin-bottom: -9rem;
}

input[type="searchExams"]
{
  font-size: medium;
  border-radius: 1px;
  border-color: black;
  border-radius: 9px;
  padding: 10px;
  max-height: 2rem;
  min-height: 2rem;
  width: 15rem;
}

button[name="searchExams"]
{
  padding: 0.1px 4px;
  left: 7px;
  top: 6px;
  background-color: transparent;
  border-color: rgba(115, 4, 4, 0.563);
  border-radius: 100px;
}
button[name="searchExams"]:hover
{
  color: rgb(185, 2, 2);
  background-color: transparent;
  border-color: rgb(158, 7, 7);
}
 

.t1{
  display: flex;
  align-items: center;
  margin-left: 5%;
}

.FileLabel{
  font-weight: bold;
  margin-left: 1rem;
  margin-bottom: 1rem;
}
.fileInput{
  margin-bottom: 1rem;
}

Button[name="importButton"] {
  display: inline-block;
  background-color: #55d102;
  color: white;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  margin-left: 2%;
  position: relative;
}

Button[name="importButton"]:hover {
  background-color: green;
  color: rgb(255, 255, 255);
  border-color: #0e3c00;
 
}
Button[name="cancel"] {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
 
}
Button[name="cancel"]:hover {
  background:  #ff5555;;
 
 
}

.fileInput {
  display: none;
}

.fileLabel {
  cursor: pointer;
  background-color:#0f99f5;
  color: rgb(235, 235, 235);
  border: 2px solid black;
  border-radius: 10px;
  font-weight: bolder;
  font-family: 'Franklin Gothic Medium';
  font-size: 16px;
  position: relative;
  margin-left: 8rem;
  margin-top: 10rem;
  padding: 0.5rem;
}
.fileLabel:hover {
  background-color: #035c97;
  color: rgb(255, 255, 255);
  border-color: #0316a5;
}
 