.container{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.section_title{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-left: 1%;
    color: darkblue;
    text-decoration: underline;
}

.no_questions{
    margin-bottom: 1rem;
    margin-left: 2%;
   
}